@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

h1 {
    font-weight: normal;
    margin: 0;
}

button {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body {
    background-image: url("images/bg.png");
}

img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
    object-fit: cover;

    margin: auto;
}

#container {
    width: 50vw;
    max-width: 400px;
    min-width: 320px;
    /* height: 35vh; */
    /* max-height: 280px; */
    /* min-height: 220px; */
    aspect-ratio: 10 / 7;
    margin: auto;
    background-color: #FADCF8;
    margin-top: 7vh;
    box-sizing: border-box;
    border: 3px solid #7D4AE3;
    border-radius: 10px;
}

#container-head {
    width: 100%;
    height: 17%;
    background-color: #B7A8F0;
    text-align: center;
}

#container-body {
    width: 100%;
    height: 83%;
}

#body-game {
    display: flex;
    gap: 6%;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 60%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    box-sizing: border-box;
    /* padding-bottom: 5%; */
}

/* #rock, #paper, #scissors {
    flex: 1;
    height: 100%;
    background-color: #E4CCFF;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

/* #img-rock {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: auto; 
} */

#button-rock, #button-paper, #button-scissors {
    flex: 1;
    /* width: 30%; */
    font-size: 100%;
    height: 100%;
    background-color: #E4CCFF;
    /* box-sizing: border-box; */
    border: 3px solid #7D4AE3;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#body-game-1, #body-game-3 {
    flex: 1.6;
    height: 100%;
    border: 3px solid #7D4AE3;
}

#body-game-2 {
    flex: 1;
    height: 100%;
    border: 3px solid #7D4AE3;
    /* display: flex;
    font-size: 180%;
    text-align: center;
    align-items: center;
    justify-content: center; */
}

/* #vs {
    height: 100%;
    display: flex;
    font-size: 180%;
    text-align: center;
    align-items: center;
    justify-content: center;
} */

/* #button-rock {
    background-image: url("images/rock.png");
    background-size: 100%;
    background-repeat: no-repeat; 
    
}

#button-paper {
    background-image: url("images/paper.png");
    background-size: 100%;
    background-repeat: no-repeat; 
}

#button-scissors {
    background-image: url("images/scissors.png");
    background-size: 100%;
    background-repeat: no-repeat; 
} */

#button-rock:hover, #button-paper:hover, #button-scissors:hover {
    background-color: #B7A8F0;
    /* color: #FFB8D8; */
}

.body-game-text {
    margin-top: -5%;
}


#body-score {
    width: 45%;
    height: 15%;
    font-size: 120%;
    /* font-size: 1.2rem; */
    background-color: #E4CCFF;
    border: 3px solid #7D4AE3;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#body-interaction {
    width: 35%;
    height: 17%;
    /* background-color: #FFB8D8; */
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 100%;
    height: 100%;
    /* font-size: 140%; */
    box-sizing: border-box;
    border: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#button-play {
    display: flex;
    font-size: 140%;
    background-color: #FFB8D8; 
    border: 3px solid #7D4AE3;
    /* outline: 3px solid #7D4AE3; */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
} 

#button-play:hover {
  background-color: #7D4AE3;
  color: #FFB8D8;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: #633C9B;
}